* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* body {
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
} */

.bg {
  position: fixed;
  z-index: -1;
  height: 600px;
  left: 120px;
  width: 3000px !important;
  transform: rotate(-40deg);
  background-color: #239c5b;
}

.login-container {
  position: relative;
  display: flex;
  right: 100px;
  height: 900px;
  top: 26px;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 250px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  bottom: 10px;
}

.main-name {
  font-size: 56px;
  color: rgba(247, 147, 30, 1);
  display: block;
  padding-bottom: 32px;
}

.main-name span {
  color: #239c5b !important;
  text-transform: lowercase;
}

.right-side {
  display: flex;
  align-items: end;
  margin-top: 40%;
}

.sign-in {
  color: #239c5b;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 30px;
}

.signInBox {
  height: 900px !important;
}

.input-group {
  width: 430px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  border: 1px solid rgb(41, 182, 106);
  border-radius: 4px;
  padding: 50px;
  background-color: #fff;
}

.progres {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 35px;
}

.one {
  width: 30%;
  height: 4px;
  background-color: #29b66a;
}

.two {
  width: 30%;
  height: 4px;
  background-color: #d9d9d9;
}

.three {
  width: 30%;
  height: 4px;
  background-color: #d9d9d9;
}

.form-group {
  position: relative;
  width: 100%;
  margin-top: 4px;
}

.form-group img {
  cursor: pointer;
}

.visibility,
.visibility_off {
  position: absolute;
  right: 15px;
  top: 41%;
  transform: translateY(-50%);
}

.form-group input {
  height: 40px;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #121212;
  font-weight: 400;
  color: #1c1b1f;
  outline: none;
  margin-bottom: 10px;
}

.label {
  position: absolute;
  left: 14px;
  top: -8px;
  background-color: #fff;
  font-size: 12px;
  padding: 0px 4px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  gap: 67px;
}

.chack-div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label-check {
  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.forgot {
  color: #df2323;
  font-size: 12px;
}

.btn-div {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.btn {
  width: 200px;
  border-radius: 8px;
  padding: 10px 40px;
  background-color: rgb(41, 182, 106);
  border: none;
  margin-top: 44px;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(9, 95, 49, 0.7);
}

.next-btn {
  width: 200px;
  height: 48px;
  padding: 10px;
  background-color: #29b66a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  margin: 40px auto;
  transition: 0.3s;
}

.next-btn:hover {
  cursor: pointer;
  background-color: rgba(9, 95, 49, 0.7);
}

.sent-code {
  color: #239c5b;
  font-size: 18px;
  margin-bottom: 35px;
}

.input-code {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.div-for-code {
  width: 30px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #29b66a;
  color: #29b66a;
}

.timer {
  color: #343434;
  font-size: 34px;
  font-weight: 500;
  margin: 0 auto;
}

.pass-check {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.left-check,
.right-check {
  display: block;
}

.hidden {
  display: none;
}

.check {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 14px;
}

.circle {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.match {
  display: flex;
  gap: 3px;
  position: absolute;
  right: 46px;
  top: 38%;
  transform: translateY(-50%);
  color: #ed1c24;
  font-size: 12px;
  align-items: center;
}